<h2>All Superpowers</h2>

<ul>
  <% @powers.each do |power| %>
    <li>
      <%= power.name %>
      <br>
      Description: <%= power.description %>
    </li>
    <br>
  <% end %>
</ul>

<h3>Heroine's index page:</h3>
<%= link_to "Heroine page", heroines_path %>
